<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.generaldb.mapper.TblMerchantMapper" >
  <resultMap id="BaseResultMap" type="com.work.generaldb.model.TblMerchant" >
    <id column="mer_id" property="merId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="alias_name" property="aliasName" jdbcType="VARCHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="service_phone" property="servicePhone" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="ali_sub_mer_id" property="aliSubMerId" jdbcType="VARCHAR" />
    <result column="wx_sub_mer_id" property="wxSubMerId" jdbcType="VARCHAR" />
    <result column="mcc" property="mcc" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    mer_id, name, alias_name, contact_name, service_phone, address, ali_sub_mer_id, wx_sub_mer_id, 
    mcc, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tbl_merchant
    where mer_id = #{merId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tbl_merchant
    where mer_id = #{merId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.work.generaldb.model.TblMerchant" >
    insert into tbl_merchant (mer_id, name, alias_name, 
      contact_name, service_phone, address, 
      ali_sub_mer_id, wx_sub_mer_id, mcc, 
      create_time)
    values (#{merId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{aliasName,jdbcType=VARCHAR}, 
      #{contactName,jdbcType=VARCHAR}, #{servicePhone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{aliSubMerId,jdbcType=VARCHAR}, #{wxSubMerId,jdbcType=VARCHAR}, #{mcc,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.work.generaldb.model.TblMerchant" >
    insert into tbl_merchant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="merId != null" >
        mer_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="aliasName != null" >
        alias_name,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="servicePhone != null" >
        service_phone,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="aliSubMerId != null" >
        ali_sub_mer_id,
      </if>
      <if test="wxSubMerId != null" >
        wx_sub_mer_id,
      </if>
      <if test="mcc != null" >
        mcc,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="merId != null" >
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null" >
        #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="aliSubMerId != null" >
        #{aliSubMerId,jdbcType=VARCHAR},
      </if>
      <if test="wxSubMerId != null" >
        #{wxSubMerId,jdbcType=VARCHAR},
      </if>
      <if test="mcc != null" >
        #{mcc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.work.generaldb.model.TblMerchant" >
    update tbl_merchant
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="aliasName != null" >
        alias_name = #{aliasName,jdbcType=VARCHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null" >
        service_phone = #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="aliSubMerId != null" >
        ali_sub_mer_id = #{aliSubMerId,jdbcType=VARCHAR},
      </if>
      <if test="wxSubMerId != null" >
        wx_sub_mer_id = #{wxSubMerId,jdbcType=VARCHAR},
      </if>
      <if test="mcc != null" >
        mcc = #{mcc,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
    </set>
    where mer_id = #{merId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.work.generaldb.model.TblMerchant" >
    update tbl_merchant
    set name = #{name,jdbcType=VARCHAR},
      alias_name = #{aliasName,jdbcType=VARCHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      service_phone = #{servicePhone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      ali_sub_mer_id = #{aliSubMerId,jdbcType=VARCHAR},
      wx_sub_mer_id = #{wxSubMerId,jdbcType=VARCHAR},
      mcc = #{mcc,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR}
    where mer_id = #{merId,jdbcType=VARCHAR}
  </update>
</mapper>